.your-score {display:inline;}
.question-question {font-size: 16px;}
.answer-correct {float: right;}

.rating-label {
    vertical-align: middle;
    padding: 5px;
    font-size: 15px
}

/* these 'li', 'a' and card a declarations are needed for ajaxful-rating */

li { margin-left: 0; }
a { background: none; }
.card a { background: none; }

